html {
  height: 100%;
  width: 100%;
}

body{
  
 background-image: url("back.png");
  background-repeat: no-repeat;
   background-attachment: fixed;
  background-size: 100% 100%;
}

h1{
  text-align: center;
}

#corpo{
  
  display: flex;
  text-align: center;
 justify-content: center;
}

table{
  
  display: flex;
  justify-content: center;
}

th,td{
  font-family: Tormenta;
  color: #ffffff;
  font-style: bold;
  font-size:18px;
  font-weight: 600
  
}

.celula{
  font-family: Tormenta;
  width: 55px;
  height: 35px;
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  font-style: bold;

}

#others{
  position: absolute;
  bottom: -15px;
  width: 100%;
 
}

#arv{
  color: #65c879;
}

#jambo{
  color: #c5c4c4;
}

span{
  color: #d82926;
  font-family: Tormenta;
  font-weight: 600;
}
#span2{
  color: #EA9E0A;
}
footer a{
  font-family: Raizen;
  text-decoration: none;
  }